<hr/>
<table *ngIf="responseHistoricos" class="table table-striped">
  <thead>
    <td>Id</td>
    <td>Região</td>
    <td>Estado</td>
    <td>Município</td>
    <td>Revenda</td>
    <td>Código</td>
    <td>Produto</td>
    <td>Data</td>
    <td>R$ compra</td>
    <td>R$ venda</td>
    <td>Unidade</td>
    <td>Bandeira</td>
    <td>Ações</td>
  </thead>
  <tbody>
    <tr *ngFor="let historico of responseHistoricos.content">
      <td>{{historico.id}}</td>
      <td>{{historico.regiao}}</td>
      <td>{{historico.estado}}</td>
      <td>{{historico.municipio}}</td>
      <td>{{historico.revenda}}</td>
      <td>{{historico.codigo}}</td>
      <td>{{historico.produto}}</td>
      <td>{{historico.dataColeta}}</td>
      <td>{{historico.valorDeCompra}}</td>
      <td>{{historico.valorDeVenda}}</td>
      <td>{{historico.unidadeDeMedida}}</td>
      <td>{{historico.bandeira}}</td>
      <td><button (click)="edit(historico, historico.id)" class="btn btn-warning">Editar</button></td>
      <td><button (click)="delete(historico.id)" class="btn btn-danger">Deletar</button></td>
    </tr>
  </tbody>
</table>