<form (ngSubmit)="onSubmit()" class="form">
  <div class="row">
    <div class="col-12 col-md-3">
      <label for="regiao">Região</label>
      <input class="form-control" class="form-control" type="text" placeholder="Insira a região" [(ngModel)]="request.regiao" name="regiao" />
    </div>
    <div class="col-12 col-md-3">
      <label for="estado">Estado</label>
      <input class="form-control" class="form-control" type="text" placeholder="Insira o estado" [(ngModel)]="request.estado" name="estado" />
    </div>
    <div class="col-12 col-md-3">
      <label for="municipio">Município</label>
      <input class="form-control" class="form-control" type="text" placeholder="Insira o municipio" [(ngModel)]="request.municipio" name="municipio" />
    </div>
    <div class="col-12 col-md-3">
      <label for="revenda">Revenda</label>
      <input class="form-control" type="text" placeholder="Insira a revenda" [(ngModel)]="request.revenda" name="revenda" />
    </div>
    <div class="col-12 col-md-3">
      <label for="codigo">Código</label>
      <input class="form-control" type="text" placeholder="Insira o código" [(ngModel)]="request.codigo" name="codigo" />
    </div>
    <div class="col-12 col-md-3">
      <label for="produto">Produto</label>
      <input class="form-control" type="text" placeholder="Insira o produto" [(ngModel)]="request.produto" name="produto" />
    </div>
    <div class="col-12 col-md-3">
      <label for="dataColeta">Data coleta</label>
      <input class="form-control" type="date" placeholder="Insira a data da coleta" [(ngModel)]="request.dataColeta"
        name="dataColeta" />
    </div>
    <div class="col-12 col-md-3">
      <label for="valorDeCompra">Valor de compra</label>
      <input class="form-control" type="number" placeholder="Insira o valor de compra" [(ngModel)]="request.valorDeCompra" 
        name="valorDeCompra" />
    </div>
    <div class="col-12 col-md-3">
      <label for="valorDeVenda">Valor de venda</label>
      <input class="form-control" type="number" placeholder="Insira o valor de venda" [(ngModel)]="request.valorDeVenda" 
        name="valorDeVenda" />
    </div>
    <div class="col-12 col-md-3">
      <label for="unidadeDeMedida">Unidade de medida</label>
      <input class="form-control" type="text" placeholder="Insira a unidade de medida" [(ngModel)]="request.unidadeDeMedida"
        name="unidadeDeMedida" />
    </div>
    <div class="col-12 col-md-3">
      <label for="bandeira">Bandeira</label>
      <input class="form-control" class="form-control" type="text" placeholder="Insira a unidade de medida" [(ngModel)]="request.bandeira"
        name="bandeira"/>
    </div>
  </div>
  <div class="row mt-2 col-6 col-md-3">
    <button type="submit" class="form-control btn btn-primary">Salvar</button>
  </div>
</form>